{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/AboutUs.css' %}" />
    <title>Home</title>
  </head>
  <body>
    <div class="NavBar">
      <nav class="navbar navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="#">Resume Ranking System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="Main">
      <section class="text-center about">
        <h1>About US</h1>
        <div class="container">
          <div class="row">
            <div
              class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
              data-wow-offset="200"
            >
              <span class="fa fa-group"></span>
              <h2>Creators</h2>
              <li class="lead">
                <ul>
                  Ritik Patil 17IT2044
                </ul>
                <ul>
                  Akshay Pawar 17IT1023
                </ul>
                <ul>
                  Shrikant Padhy 17IT1024
                </ul>
              </li>
            </div>
            <div
              class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
              data-wow-offset="200"
            >
              <span class="fa fa-info"></span>
              <h2>About Site</h2>
              <p class="lead">
                This Site Is About Off-Campus Recruitment. Companies From Giant
                Tech Country like India Register To Find Top Class Coders Around
                Globe.
              </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div
              class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
              data-wow-offset="200"
            >
              <span class="fa fa-file"></span>
              <h2>Terms Of Service</h2>
              <p class="lead">Terms Here</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="Footer">
      <h5>
        Copyright <i class="fa fa-copyright"></i> 2020. All Rights Reserved.
      </h5>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
