{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/RequirementForm.css' %}" />
  </head>
  <body>
    <div>
      <div class="topSection px-5">
        <nav class="navbar navbar-expand-sm navbar-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Applications</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="mainSection">
        <form action="jobpost" method="POST">
          {% csrf_token %}
        <div class="formSection">
          <div class="firstSection">
            <h3>Requirements</h3>
            <div class="form-group">
              <label for="pl">Programming Languages</label>
                <input
                  type="text"
                  name="language"
                  class="form-control"
                  id="pl"
                  placeholder="Py,Java,C++....."
                  required
                />
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fm">Framerworks</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fm"
                    name="Frameworks"
                    placeholder="Django,Angular..."
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="db">Database</label>
                  <input
                    name="database"
                    type="text"
                    class="form-control"
                    id="db"
                    placeholder="MySql,Sql,MongoDB..."
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="ep">Experience</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ep"
                    name="experience"
                    placeholder=""
                    required
                  />
                </div>
  
              </div>
            </div>
          </div>

          <div class="secondSection">
            <h3>Other Info</h3>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="cn">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cn"
                      name="companyname"
                      placeholder=""
                      required
                    />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="cn">Company ID</label>
                    <input
                      type="email"
                      class="form-control"
                      id="cn"
                      name="cid"
                      placeholder=""
                      required
                    />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="jl">Job Role</label>
                    <input
                      type="text"
                      class="form-control"
                      id="jl"
                      name="role"
                      placeholder=""
                      required
                    />
                </div>
  
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="ba">Batch</label>
                    <input
                      type="text"
                      class="form-control"
                      id="ba"
                      name="batch"
                      placeholder="Batch 2017,2019,2020...."
                      required
                    />
                </div>
              </div>
  
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="sd">Registration Start Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="sd"
                      placeholder=""
                      required
                      name="startdate"
                    />
                </div>
  
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="ed">Registration end Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="ed"
                      placeholder=""
                      required
                      name="enddate"
                    />
                </div>
              </div>
            </div>
          </div>


          <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
<!-- 
      <div class="AppliedStudents">
        Here list of applied student will come....
      </div> -->

      <div class="footer text-center">
        <h5>
          Copyright <i class="fa fa-copyright"></i> 2020 Name. All Rights
          Reserved.
        </h5>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
